*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* Common in all pages */

body{
    height: 100vh;
    background-color: #3D3C65;

}

.grid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-row: 15% auto 15% 20%;
    grid-template-areas: 
                        "header"
                        "main"
                        "aside"
                        "footer"
}


/* Nav Top Side */
header{
    background-color: black;
    height: 100px;
    max-width:100%;
    top: 0;
    grid-area: header;
}

.containerNav{
    display:flex;
    justify-content:space-between;
    margin: 0 auto;
}

.logo{
    width: 50%;
    height: 80%;
    flex-grow: 1;
}

.logo img{
    height: 80px;
    margin: 10px 0 10px 10px;
}

.logo h1{
    display:inline-block;
    margin:10px 40px 10px 10px;
    position:absolute;
    line-height: 80px;
}

.navbarTop{
    width: 50%;
    display:flex;
    justify-content: space-between;
}

.navbarTop li{
    margin: 10px 10px;
    line-height: 80px;
    text-transform: uppercase;
    font-family: 'Zen Antique', serif;
}

.navbarTop a{
    font-size: 1.1rem;
}

.navbarTop a:hover{
    color: #15AFC6;
    transition: .5s;
}

.navbarTop__toggle{
    width: 100%;
    color:white;
    background:none;
    border:none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

/* Subscription Area */
.subscripcion{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #256CB1;
}
.subscripcion__txt{
    text-align: center;
    margin-left: 60px;
}

.forms form{
    margin-right:15px;

}

.subscripcion__forms--email{
    width:600px;
}

.subscripcion-titulo{
    color: white;
}

/* Nav Bot Side */

footer{
    background-color: black;
    height: max-content;
    grid-area: footer;
}

.navbarBot{
    display:grid;
    height: 90%;
    grid-column: repeat(4, auto);
    grid-row: 1fr;
    grid-template-areas: "navegacion nosotros atencion_al_cliente seguinos";
}

.navegacion{
    grid-area: navegacion;
    text-align: center;
}

.nosotros{
    grid-area: nosotros;
    text-align: center;
}

.atencion_al_cliente{
    grid-area: atencion_al_cliente;
    text-align: center;
}

.seguinos{
    grid-area: seguinos;
    text-align: center;
}

.navbarBot ul {
    display:flex;
    flex-direction: column;
    width: 200px;
    margin: 60px;
}

.navbarBot ul li{
    padding: 10px;
}


.navbarBot ul li a{
    text-decoration: none;
    color: #15AFC6;
}

.containerLinks{
    text-align: center;
}

/* Social Media */
.containerSocial{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.social{
    display: inline-block;
    width: 40px;
    height: 40px;

}

/* Copyright */

.containerCopyright{
    height: 10%;
    width: 100%;
}

.containerCopyright p{
    padding-left:60px;
    padding-top: 15px;
    color:white;
    text-align: left;
}

/* General */

ul{
    list-style: none;
}

form{
    color:white;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

p{
    color: white;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
}

strong{
    color: #15AFC6;
}


.logoTitulo{
    color:#ffffff;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

h2 {
    color: #15AFC6;
    font-family: 'Zen Antique', serif;
    text-align: center;
    font-size: 3rem;
}

h3 {
    color: #15AFC6;
    font-family: 'Zen Antique', serif;
    text-align: center;
    font-size: 2rem;
}

ul li{
    color: white;
}

ul li a{
    text-decoration: none;
    color:#ffffff;
}

.separador{
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(247,171,16,1) 38%, rgba(255,244,0,1) 100%);
    height: 6px !important;
    border:none;
    margin:0;
    opacity:1;
}

.color-change-3x {
	-webkit-animation: color-change-3x 4s linear infinite alternate both;
	        animation: color-change-3x 4s linear infinite alternate both;
}

/* 
 * ----------------------------------------
 * animation color-change-3x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-3x {
    0% {
      background: rgba(36,0,0,1);
    }
    50% {
      background: rgba(247,171,16,1);
    }
    100% {
      background: rgba(255,244,0,1);
    }
  }
  @keyframes color-change-3x {
    0% {
        background: rgba(255,244,0,1);
      }
      50% {
        background: rgba(247,171,16,1);
      }
      100% {
        background: rgba(36,0,0,1);
      }
  }
  
/* Index */

#carouselBanner{
    width: 100%;
    margin: auto;
    margin-top:1px;
}

.carousel-item {
    width: 100%;
    height:auto;
}

.carousel-item img{
    width:100%;
    height:auto;
    margin: auto;
}

.main__video{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:20px 0;
    width: 100%;
    padding: 40px 40px;
    gap: 3rem;
    height: max-content;
}

#videoYT{
    display:inline;
    max-width:50%;
}

.main__txt{
    align-items: left;
    width: 50%;
    height: auto;
    display:inline;
    margin-bottom:50px;
}

.main__txt p{
    line-height: 1.2;
    font-size: 1.2rem;
}

/* Productos */

.col-md-12{
    margin-top: 20px;
    background-color: black;
    width: fit-content;
}

hr{
    color:white;
    opacity:1;
}

h5{
    color:white;
}

h6{
    color:white;
}

.tituloBuscador{
    text-align: center;
}

.tituloCategoria{
    text-align: center;
}

.buscador_categorias{
    flex-direction: column;
    justify-content: left;
    width: 50%;
}

.buscador_categorias a:hover{
    color: #15AFC6;
    transition: .5s;
}

.contenedorProductos{
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
}

.containerItem{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerItem img{
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
    padding: 14px;
}


/* Galeria */

.containerGallery{
    width:100%;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
}

.containerGallery__col{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.containerGallery__col img{
    max-width: 500px;
    max-height: 500px;
    margin-top: 10px;
    padding: 15px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transition: all 0.5s;
}

.containerGallery__col img:hover{
    filter:none;
}

/* Historia */
.card {
    height:max-content;
    overflow:hidden;
}
.card-text{
    text-align:left;
}

/* Contacto */

.atCliente__lista{
    display:flex;
    align-content:center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#sectContacto{
    display:block;
    text-align:center;
    padding-bottom: 25px;
	padding-top: 25px;
}

#mensaje{
    max-width:95vw;
}

#sectFAQS article h2{
    margin: 2rem 0;
}

#sectFAQS article h3{
    margin: 2rem 0;
}

#sectPriv {
    margin: 2rem 0;
}


.formsContacto{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
	padding-top: 25px;
    width:100%;
}

.containerMap{
	padding-bottom: 25px;
	padding-top: 25px;
}

.mapa{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
table{
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
table tr td{
    width: 400px;
    margin:auto;
    font-size: 1rem;
    padding: 20px;
    text-align:center;
}

table tr th{
    width: 400px;
    margin:auto;
    font-size: 1.2rem;
    padding: 20px;
    text-align:center;
}

/* MEDIA QUERIES */
/* Img in productos 1372 x 854 px*/
@media (max-width: 1372px){
    .containerItem{
        flex-wrap:wrap;
    }

    .containerItem img{
        width: 250px;
        height: 250px;
    }

}

/* Laptop Device 1024 x 854 px*/
@media (max-width: 1024px) {


    /* Barra de Navegación Inf*/

    .navbarBot{
        grid-template-areas:    "navegacion"
                                "nosotros"
                                "atencion_al_cliente"
                                "seguinos";

        justify-content: center;
        height: 90%;
    }

    .navbarBot ul{
        margin: auto;
    }

    /*  Copyright */

    .containerCopyright{
        height: 9%;
    }

    .containerCopyright p{
            padding-left: auto;
            padding-top: auto;
            text-align: center;
    }


}
/* Media Querie navbar Bot */
@media (max-width: 1205px) { 
    .navbarBot ul{
        margin: auto;
    }
}

/* Logo Text */
@media (max-width: 870px) { 
    .logo h1{
        visibility:hidden;
    }
}


/* Tablet Device 768 x 882 px*/
@media (max-width: 768px) {

    /* Barra de Navegación Sup*/
    header{
        height: 70px;
    }

    .containerNav{
        align-items: flex-start;
    }

    .logo img, .logo h1{
        height: 50px;
        line-height: 50px;
        justify-content: center;
        margin-left:0;
    }

    .logo h1{
        visibility:visible;
    }

    .logoTitulo{
        font-size: 1.5rem;
    }


    .navbarTop{
        flex-direction: column;
        align-items: left;
        margin-right: 0;
        background-color: black;
        position:fixed;
        top: 60px;
        overflow-y: auto;

        width: 100%;
        left: 100%;
        transition: left 0.5s;
    }

    .navbarTop li{
        line-height: 70px;
    }

    .navbarTop__toggle{
        display: block;
    }

    .navbarTop--visible{
        left: 0;
    }


    .navbarBot ul {
        flex-wrap: wrap;
    }

    /* Subscripción */

    .subscripcion{
        justify-content: center;
        flex-wrap: wrap;
    }

    .subscripcion__forms--email{
        width: 600px;
    }

    /* Index */
    
    .main__video{
        flex-direction: column;
        gap: 0;
    }

    #videoYT{
        max-width:100%;
    }
    .main__txt{
        margin-right: 0px;
    }

    /* Productos */

    .containerItem{
        flex-direction: column;
    }

    /* Galería */

    .containerGallery__col{
        justify-content: center;
    }

    .containerGallery__col img{
        filter:none;
            width: 300px;
            height: 300px;
    }

}

/* Media Querie for forms e-mail px*/
@media (max-width: 601px) {

    .subscripcion__forms--email{
        width: auto;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.6rem;
    }

    .containerItem img{
        width: 180px;
        height: 180px;
    }
}
/* Media Querie for side nav bar in products when screen is too small px*/

@media (max-width: 425px) {
    #contentPlaceHolderIzquierda{
        display:none;
    }

    .containerGallery__col img{
        width:250px;
        height:200px;
    }
}


/* Media Querie for logo when screen is too small px*/

@media (max-width: 285px) {
    .logo h1{
        display:none;
    }
}

