@import "../vars";

.productos__titulo{
    margin: $margintitulos 0;
}

@mixin prop($dire){
    display: flex;
    flex-direction: $dire;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
}

.contenedorProductos {
    width: 100%;
    @include prop(column);
    .containerItemProducto {
        @include prop(row);
        .producto__img {
            max-width: 300px;
            max-height: 300px;
            margin-top: 10px;
            padding: 14px; }
    }
}
  
  
  