@import "../vars";

.productos__titulo{
    margin: $margintitulos 0;
}

.contenedorProductos {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .containerItemProducto {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        .producto__img {
            max-width: 300px;
            max-height: 300px;
            margin-top: 10px;
            padding: 14px; }
    }
}
  
  
  
  