@import "../vars";

.productos__titulo{
    margin: $margintitulos 0;
}

@mixin prop($dire){
    display: flex;
    flex-direction: $dire;
    align-items: center;
    justify-content: space-between; 
}

.contenedorProductos {
    max-width: 1024px;
    @include prop(column);
    .containerItemProducto {
        @include prop(row);
        .producto__img {
            width: 250px;
            height: 250px;
            margin-top: 10px;
            padding: 14px; }
    }
}
  
  
  