/* Laptop Device 1024 x 854 px*/
@media (max-width: 1024px) {
    /* Barra de Navegación Inf*/
    .navbarBot {
      grid-template-areas: "navegacion"
                            "nosotros"
                            "atencion_al_cliente"
                            "seguinos";
      justify-content: center;
      height: 90%; }

    /*  Copyright */
    .containerCopyright {
      height: 9%; }
    .copyright__txt {
      padding-left: auto;
      padding-top: auto;
      text-align: center; }
    /* Subscripcion email*/
    .subscripcion__forms--email {
      width: 450px; } }