  /* Media Querie for forms e-mail px*/
  @media (max-width: 601px) {
    .subscripcion__forms--email {
      width: auto; }
    h2 {
      font-size: 2rem; }
    h3 {
      font-size: 1.6rem; }
    .producto__img {
      width: 180px;
      height: 180px; } 
    }