  /* Media Querie navbar Top */
  @media (max-width: 993px) {
    .imgGenerica {
      filter: none; } 
    
    .contenedorProductos .containerItemProducto {
      justify-content: center;
    }

    .subscripcion{
      flex-direction: column;

      &__forms--email {
        min-width: 80vw; }
    }
  }
  