  /* Media Querie navbar Top */
  @media (max-width: 993px) {
    .imgGenerica {
      filter: none; } 
    
    .contenedorProductos .containerItemProducto {
      justify-content: center;
    }

    .card__text{
      line-height: 1.2;
      font-size: 0.8rem;
    }

    .card__title{
      line-height: 1.2;
      font-size: 1.8rem;
    }

  }
  