$colorbg: #3D3C65;
$colorseparador1: #240000;
$colorseparador2: #f7ab10;
$colorseparador3: #fff400;
$colorsuscripcion: #256CB1;
$colorppal1: black;
$colorppal2: #15AFC6;
$colorppal3: white;
$fontsizegenerico: 1rem;
$margintitulos: 2rem;
$padgenerico: 25px;
