@import "../vars";

$mapFooter: (
    navegacion: navegacion,
    nosotros: nosotros,
    atencion_al_cliente: atencion_al_cliente,
    seguinos: seguinos
);

$contentFooter: (
  align: center,
  pad: 10px,
  colorin: $colorppal2,
  deco: none
);

/* Nav Bot Side */
footer {
    background-color: $colorppal1;
    height: max-content;
    grid-area: footer;
  
  .navbarBot__lista {
    display: grid;
    height: 90%;
    grid-template-areas: "navegacion nosotros atencion_al_cliente seguinos"; 
    &--sublista {
      display: flex;
      flex-direction: column;
      width: 200px;
      margin: 60px; 
      @each $item, $area in $mapFooter{
        .#{$item}{
          grid-area: $area;
          text-align: map-get($map: $contentFooter, $key: align);
          padding: map-get($map: $contentFooter, $key: pad); 
          &__link{
            text-decoration: map-get($map: $contentFooter, $key:deco );
            color: map-get($map: $contentFooter, $key: colorin); }
        }
      }

      .containerLinks {
        text-align: map-get($map: $contentFooter, $key: align);       
        &__items{
          padding: map-get($map: $contentFooter, $key: pad);
          &--link {
            text-decoration: map-get($map: $contentFooter, $key:deco );
            color: map-get($map: $contentFooter, $key: colorin); }
          }
        }
  
      /* Social Media */
      .containerSocial {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .social {
          display: inline-block;
          width: 40px;
          height: 40px; }
      }
    }
  }
  
    /* Copyright */
    .containerCopyright {
      height: 10%;
      width: 100%;
      .copyright__txt {
        padding-left: 60px;
        padding-top: 15px;
        color: $colorppal3;
        text-align: left; }
  }
}