@import "../vars";

/* General */
  ul {
    list-style: none; }
  
  form {
    color: $colorppal3; }
  
  main {
    grid-area: main; }
  
  aside {
    grid-area: aside; }
  
  p {
    color: $colorppal3;
    text-align: center;
    font-size: $fontsizegenerico;
    line-height: 1.5; }
  
  strong {
    color: $colorppal2; }

  h1{
    color: $colorppal2;
    font-family: 'Zen Antique', serif;
    text-align: center;
    font-size: $fontsizegenerico*3;
  }

  h2 {
    @extend h1;
    font-size: 2.5rem; }
  
  h3 {
    @extend h1;
    font-size: $fontsizegenerico*2; }
  
  ul li {
    color: $colorppal3; }
  
  ul li a {
    text-decoration: none;
    color: $colorppal3; }

  hr {
    color: $colorppal3;
    opacity: 1; }

  h5 {
    color: $colorppal3; }

  h6 {
    color: $colorppal3; }