.card {
    height: max-content;
    overflow: hidden;
    max-width: 100vw;
    &__img{
        height:1200px;
    }
    &__text {
        text-align: left;
        word-wrap: break-word;
    }
    &__title{
        color: $colorppal3;
        text-align:left;
    }
}
  
  