@import "../vars";
@import "../estructura/general";

.card {
    width: 100vw;
    &__img{
        height: 800px;
    }
    .container-fluid {
        &__text{
            @extend p;
            text-align: left;
        }
        &__title{
            @extend h1;
            color: $colorppal3;
        }
    }
}
  
  