@import "../vars";

#sectContacto {
    display: block;
    text-align: center;
    padding: $padgenerico 0;
    .formsContacto {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        padding: $padgenerico 0;
        width: 100%;
        #mensaje {
            max-width: 95vw; } 
    }
}

