@import "../vars";

@mixin sizes($font){
    font-size: $font;
    width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

table {
    width: 80%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    & tr {
        & td{
        @include sizes($fontsizegenerico);
        & th {
            @include sizes(1.2rem);
        }
        }   
    }
}